.btn {
  background-color: $mainBlue;
  color: #FFF;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;

  &--orange {
    background-color: $mainOrange;
  }

  &--large {
    font-size: 1rem;
    font-weight: 300;
    padding: .5rem .5rem;

    @mixin atSmall {
      font-size: 1.25rem;
      font-weight: 350;
      padding: .75rem .75rem;
    }

  }
}
