.headline {
  font-size: 2rem;
  font-weight: 300;
  color: $mainBlue;

  @mixin atSmall {
    font-size: 2.65rem;
  }

  &--centered {
    text-align: center;
  }

  &--orange {
    color: $mainOrange;
  }

  &--small {
    font-size: 1.5rem;
    @mixin atSmall {
      font-size: 1.975rem;
    }
  }

  &--narrow {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  &--light {
    font-weight: 100;
  }

  &--b-margin-small {
    margin-bottom: .5em;
  }

  &--b-margin-large {
    margin-bottom: 1.6em;
  }

  &--no-t-margin {
    margin-top: 0;
  }

  &--p-lead-in {
    font-size: 1.75rem;
    font-weight: 450;
    @mixin atSmall {
      font-size: 2rem;
    }
  }
}
